---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";

import ProjectCard from "../components/ProjectCard.astro";
import SectionTitle from "../components/SectionTitle.astro";
import content from "../content";

---

<Layout title="Sebastian">
  <main>
    <Hero />
    <SectionTitle title="Side Projects" />
    {content.projects.map((project) => {
      return (
        <ProjectCard {...project}
        />
      )
    })}
  </main>
</Layout>
